In [1]:
import sqlite3
import pandas
import pymongo
client = pymongo.MongoClient("mongodb://localhost:27017/")
db = client.sae_classicmodel

# Création de la connexion
conn = sqlite3.connect("ClassicModel.sqlite")

In [2]:
# 1 Lister les clients n’ayant jamais effecuté une commande

a=db.customers.aggregate([
    {
        "$lookup": {
            "from": "orders",
            "localField": "customerNumber",
            "foreignField": "customerNumber",
            "as": "customerOrders"
        }
    },
    {
        "$match": {
            "customerOrders": { "$size": 0 }
        }
    },
    {
        "$project": {
            "_id": 0,
            "customerNumber": 1,
            "customerName": 1,
            "contactFirstName": 1,
            "contactLastName": 1
        }
    }
])
pandas.DataFrame(list(a))

,customerNumber,customerName,contactLastName,contactFirstName
0,125,Havel & Zbyszek Co,Piestrzeniewicz,Zbyszek
1,168,American Souvenirs Inc,Franco,Sue
2,169,Porto Imports Co.,de Castro,Isabel
3,206,"Asian Shopping Network, Co",Walker,Brydey
4,223,Natürlich Autos,Kloss,Horst
5,237,ANG Resellers,Camino,Alejandra
6,247,Messner Shopping Network,Messner,Renate
7,273,"Franken Gifts, Co",Franken,Peter
8,293,BG&E Collectables,Pon,Ed
9,303,Schuyler Imports,Schuyler,Bradley
10,307,Der Hund Imports,Anders,Maria
11,335,"Cramer Spezialitäten, Ltd",Cramer,Philip
12,348,"Asian Treasures, Inc.",McKenna,Patricia
13,356,"SAR Distributors, Co",Kuger,Armand
14,361,Kommission Auto,Josephs,Karin
15,369,"Lisboa Souveniers, Inc",Rodriguez,Lino
16,376,Precious Collectables,Wang,Yang
17,409,Stuttgart Collectable Exchange,Müller,Rita
18,443,"Feuer Online Stores, Inc",Feuer,Alexander
19,459,Warburg Exchange,Ottlieb,Sven
20,465,"Anton Designs, Ltd.",Anton,Carmen
21,477,Mit Vergnügen & Co.,Moos,Hanna
22,480,"Kremlin Collectables, Co.",Semenov,Alexander
23,481,"Raanan Stores, Inc","Altagar,G M",Raanan
24,125,Havel & Zbyszek Co,Piestrzeniewicz,Zbyszek
25,168,American Souvenirs Inc,Franco,Sue
26,169,Porto Imports Co.,de Castro,Isabel
27,206,"Asian Shopping Network, Co",Walker,Brydey
28,223,Natürlich Autos,Kloss,Horst
29,237,ANG Resellers,Camino,Alejandra
30,247,Messner Shopping Network,Messner,Renate
31,273,"Franken Gifts, Co",Franken,Peter
32,293,BG&E Collectables,Pon,Ed
33,303,Schuyler Imports,Schuyler,Bradley
34,307,Der Hund Imports,Anders,Maria
35,335,"Cramer Spezialitäten, Ltd",Cramer,Philip
36,348,"Asian Treasures, Inc.",McKenna,Patricia
37,356,"SAR Distributors, Co",Kuger,Armand
38,361,Kommission Auto,Josephs,Karin
39,369,"Lisboa Souveniers, Inc",Rodriguez,Lino
40,376,Precious Collectables,Wang,Yang
41,409,Stuttgart Collectable Exchange,Müller,Rita
42,443,"Feuer Online Stores, Inc",Feuer,Alexander
43,459,Warburg Exchange,Ottlieb,Sven
44,465,"Anton Designs, Ltd.",Anton,Carmen
45,477,Mit Vergnügen & Co.,Moos,Hanna
46,480,"Kremlin Collectables, Co.",Semenov,Alexander
47,481,"Raanan Stores, Inc","Altagar,G M",Raanan

In [34]:
#2 Pour chaque employé, le nombre de clients, le nombre de commandes et le montant total de celles-ci

pipeline = [
    {
        # Étape 1 : Joindre les clients à la collection employees
        "$lookup": {
            "from": "customers",  # Joindre la collection "customers" pour obtenir les clients par employé
            "localField": "employeeNumber",  # Relier employeeNumber des employés
            "foreignField": "employee_id",  # Relier employee_id des clients
            "as": "employeeCustomers"  # Résultat de la jointure dans un tableau "employeeCustomers"
        }
    },
    {
        # Étape 2 : Grouper les informations par employé
        "$project": {
            "_id": 0,
            "employeeNumber": 1,
            "firstName": 1,
            "lastName": 1,
            "numberOfCustomers": { "$size": "$employeeCustomers" },  # Compter le nombre de clients associés à l'employé
            "numberOfOrders": {
                "$sum": {
                    "$size": { "$map": {
                        "input": "$employeeCustomers",  # Pour chaque client
                        "as": "customer",
                        "in": { "$size": { "$ifNull": ["$$customer.orders", []] } }  # Compter le nombre de commandes par client
                    }}
                }
            },
            "totalOrderAmount": {
                "$sum": {
                    "$sum": {
                        "$map": {
                            "input": "$employeeCustomers",  # Pour chaque client
                            "as": "customer",
                            "in": {
                                "$sum": {  # Calculer le montant total des commandes
                                    "$map": {
                                        "input": "$$customer.orders",  # Parcourir les commandes du client
                                        "as": "order",
                                        "in": {
                                            "$sum": {  # Calculer la somme des montants des produits commandés
                                                "$map": {
                                                    "input": "$$order.OrderDetails",
                                                    "as": "orderDetail",
                                                    "in": { "$multiply": ["$$orderDetail.quantityOrdered", "$$orderDetail.priceEach"] }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
]

# Exécution de l'agrégation sur la collection 'employees'
result = db.employees.aggregate(pipeline)

# Conversion des résultats en DataFrame
df = pd.DataFrame(list(result))
print(df)

    employeeNumber   lastName firstName  numberOfCustomers  numberOfOrders  \
0             1002     Murphy     Diane                  0               0
1             1056  Patterson      Mary                  0               0
2             1076   Firrelli      Jeff                  0               0
3             1088  Patterson   William                  0               0
4             1102     Bondur    Gerard                  0               0
5             1143        Bow   Anthony                  0               0
6             1165   Jennings    Leslie                  0               0
7             1166   Thompson    Leslie                  0               0
8             1188   Firrelli     Julie                  0               0
9             1216  Patterson     Steve                  0               0
10            1286      Tseng  Foon Yue                  0               0
11            1323     Vanauf    George                  0               0
12            1337     Bondur      Loui                  0               0
13            1370  Hernandez    Gerard                  0               0
14            1401   Castillo    Pamela                  0               0
15            1501       Bott     Larry                  0               0
16            1504      Jones     Barry                  0               0
17            1611     Fixter      Andy                  0               0
18            1612      Marsh     Peter                  0               0
19            1619       King       Tom                  0               0
20            1621      Nishi      Mami                  0               0
21            1625       Kato   Yoshimi                  0               0
22            1702     Gerard    Martin                  0               0
23            1002     Murphy     Diane                  0               0
24            1056  Patterson      Mary                  0               0
25            1076   Firrelli      Jeff                  0               0
26            1088  Patterson   William                  0               0
27            1102     Bondur    Gerard                  0               0
28            1143        Bow   Anthony                  0               0
29            1165   Jennings    Leslie                  0               0
30            1166   Thompson    Leslie                  0               0
31            1188   Firrelli     Julie                  0               0
32            1216  Patterson     Steve                  0               0
33            1286      Tseng  Foon Yue                  0               0
34            1323     Vanauf    George                  0               0
35            1337     Bondur      Loui                  0               0
36            1370  Hernandez    Gerard                  0               0
37            1401   Castillo    Pamela                  0               0
38            1501       Bott     Larry                  0               0
39            1504      Jones     Barry                  0               0
40            1611     Fixter      Andy                  0               0
41            1612      Marsh     Peter                  0               0
42            1619       King       Tom                  0               0
43            1621      Nishi      Mami                  0               0
44            1625       Kato   Yoshimi                  0               0
45            1702     Gerard    Martin                  0               0

    totalOrderAmount
0                  0
1                  0
2                  0
3                  0
4                  0
5                  0
6                  0
7                  0
8                  0
9                  0
10                 0
11                 0
12                 0
13                 0
14                 0
15                 0
16                 0
17                 0
18                 0
19                 0
20                 0
21                 0
22                 0
23                 0
24                 0
25                 0
26                 0
27                 0
28                 0
29                 0
30                 0
31                 0
32                 0
33                 0
34                 0
35                 0
36                 0
37                 0
38                 0
39                 0
40                 0
41                 0
42                 0
43                 0
44                 0
45                 0

In [30]:
#6 On veut la table de contigence du nombre de commande entre la ligne de produits et le pays du client;

pipeline2 = [
    # 1. Joindre la collection 'customers' pour obtenir le pays du client
    {
        "$lookup": {
            "from": "customers",  # Collection à joindre
            "localField": "customerNumber",  # Champ local dans 'orders'
            "foreignField": "customerNumber",  # Champ correspondant dans 'customers'
            "as": "customerInfo"  # Nom du tableau résultant
        }
    },
    {
        "$unwind": "$customerInfo"  # Décomposer 'customerInfo' pour accéder au pays du client
    },
    # 2. Filtrer les commandes qui ont des 'OrderDetails' non vides
    {
        "$match": {
            "OrderDetails": { "$exists": True, "$ne": [] }  # Assurez que 'orderDetails' existe et n'est pas vide
        }
    },
    # 3. Décomposer le tableau 'OrderDetails' pour chaque produit dans la commande
    {
        "$unwind": "$OrderDetails"  # Décomposer chaque commande en ligne de produits
    },
    # 4. Grouper les résultats par 'productLine' et 'country'
    {
        "$group": {
            "_id": {
                "productLine": "$OrderDetails.productLine",  # Correctement accéder à 'productLine'
                "country": "$customerInfo.country"  # Accéder au pays du client
            },
            "numberOfOrders": { "$sum": 1 }  # Comptabiliser le nombre de commandes pour chaque combinaison
        }
    },
    # 5. Projeter les résultats dans un format plus lisible
    {
        "$project": {
            "_id": 0,  # Ne pas afficher le champ '_id'
            "productLine": "$_id.productLine",  # Renommer '_id' en 'productLine'
            "country": "$_id.country",  # Renommer '_id' en 'country'
            "numberOfOrders": 1  # Garder le nombre de commandes
        }
    },
    # 6. Trier les résultats par 'productLine' et 'country'
    {
        "$sort": {
            "productLine": 1,  # Trier par 'productLine'
            "country": 1  # Puis trier par 'country'
        }
    }
]

# Exécution de l'agrégation sur la collection 'orders'
result = db.orders.aggregate(pipeline2)

# Conversion du résultat en DataFrame pour un affichage plus simple
df = pd.DataFrame(list(result))
print(df)

     numberOfOrders   productLine    country
0               212  Classic Cars  Australia
1               100  Classic Cars    Austria
2                16  Classic Cars    Belgium
3                56  Classic Cars     Canada
4               136  Classic Cars    Denmark
..              ...           ...        ...
121              56  Vintage Cars  Singapore
122             296  Vintage Cars      Spain
123              48  Vintage Cars     Sweden
124             156  Vintage Cars         UK
125             896  Vintage Cars        USA

[126 rows x 3 columns]